@using System.Text.Json
@using EasyArchitect.Web.Blazor.Components
@using BlazorReUseComptLab1.Data
@inject IHttpClientFactory _client

@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p>
    <button @onclick="@GetGridData">取得資料</button>
</p>
<p>
    <GridView DataSource="_dataSource">
        <Columns>
            <GridViewItem ColumnName="CustomerId"></GridViewItem>
            <GridViewItem ColumnName="ContactName"></GridViewItem>
            <GridViewItem ColumnName="Address"></GridViewItem>
            <GridViewItem ColumnName="City"></GridViewItem>
        </Columns>
    </GridView>
</p>

@code {

    protected string _startUrl = "https://localhost:5001/api/CustomerApi/GetCustomers";

    protected object _dataSource { get; set; } = null;

    private bool getCustomerError;

    protected async Task GetGridData()
    {
        _dataSource = await GridView.GetData<Person>(_startUrl);
    }
}